

#instantSearchDiagram {
  margin: 0;
  padding: 0;
  display: table;

}


#leftContainer {
  /*border:1px dotted #768588;*/
  display: table-cell;
  vertical-align: top;
}

#middleContainer {
  /*border:1px solid #80b89e;*/
  display: table-cell;
  vertical-align: top;

  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#rightContainer {
  /*border:1px solid #7db59b;*/
  display: table-cell;
  vertical-align: top;
  margin-left: 1em;
}


.matrix-row-background,
.matrix-column-background {
  fill: #e4e4e4;
  opacity: 0.5;
}



.matrix-column-text {
  font-size: 17px;
}
.matrix-row-text {
  font-size: 1.1em;
  text-anchor: end;
}




.row-background-active {
  fill: #cdcdcd;
  opacity: 0.5;
}


.column-active > .matrix-column-background {
  fill: #cdcdcd;
  opacity: 0.5;
}


.row-active > text {
  fill: #0090b0;
}

.column-active > text {
  /*font-size: 18px*/
}


.matrix-cell-tooltip-group {
  opacity: 0;
}

.matrix-cell-tooltip-background {
  fill: #ffffff;
  fill-opacity: 0.8;
}


#DiagramInfoHeading {
  font-size: 14px;
  color: #000000;
  background-color: #e5eff2;
  box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  padding: 0.3em;
}

#DiagramInfoHeadingMain {
  font-size: 22px;
  color: #ffffff;
  padding: 0.5em;
  background-color: #70afe9;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  text-align: center;
}


#infoDetails{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#infoDetailsTable {
  text-align: left;
  color: #8c8c8c;
  font-size: 14px;
}


#tooltipTitle {
  font-size: 18px;
}


.text-align-left{
  text-align: left ;
}


.text-align-right{
  text-align: right;
}


.infoDetailsTableItemText{
  padding-left : 1em;
}

.infoDetailsTableItemSymbol {
  padding-left : 1em;
}


.instantSeartchLink{
  padding-left: initial !important;
  text-decoration: none;
  color: #505050;
}

.omimLinkButton{
  color: #505050;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#phenotypicAbnormalityBlock{
  margin-bottom: 0.5em;
  background-color: #e5eff2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.phenotypeButton{
  margin: 0.1em;
}

.phenotypeButtonLink{
  text-decoration: none;
  color: #505050;
}

.phenotypeButton:active{
  background-color:#ffffff;
}
