
body {
     margin: 0;
     padding: 0;
}



#outsideContainer {
  float:left;
}

#insideContainer {
     float: left;
     border:0px solid #000;
     overflow-x: scroll;
     overflow-y: hidden;
}


.background {
  fill: #eee;
}

.matrix-row-background,
.matrix-column-background {
  fill: #f4f4f4;
  opacity: 0.5;
}



.matrix-column-text {
  fill: #808080;
  font-size: 15px;
}
.matrix-row-text {
  fill: #808080;
  font-size: 10px;
}

.matrix-cell {
  fill: #b4f0c9;
}

.cell-mouse-over {
  fill: #5caf7a;
}



.row-background-active {
  fill: #ebebeb;
  opacity: 0.5;
}


.column-active > .matrix-column-background {
  fill: #ebebeb;
  opacity: 0.5;
}


.row-active > a > text {
  fill: #00d94e;
  font-size: 14px;
  stroke-width: 2
}

.column-active > text {
  fill: #00d94e;
  font-size: 18px
}


.matrix-cell-tooltip-group {
  opacity: 0
}

.matrix-cell-tooltip-background {
  fill: #ffffff;
  fill-opacity: 0.8;
}

.tooltips-active {
  opacity: 1
}
