
body {
     margin: 0;
     padding: 0;
}


#instantSearchDiagram {
  margin: 0 auto;
}


#leftContainer {
  /*border:1px solid #a3c6b6;*/
  position: absolute;
  float: left;
  display: inline-block;
}

#middleContainer {
  /*border:1px solid #80b89e;*/
  position: absolute;
  overflow-x: auto;
  overflow-y: hidden;
}

#rightContainer {
  /*border:1px solid #7db59b;*/
  position:absolute;
  overflow-x: hidden;
  overflow-y: auto;
}


.background {
  fill: #eee;
}

.matrix-row-background,
.matrix-column-background {
  fill: #f4f4f4;
  opacity: 0.5;
}



.matrix-column-text {
  font-size: 15px;
}
.matrix-row-text {
  font-size: 10px;
  text-anchor: end;
}

.matrix-cell {
  fill: #b4f0c9;
}

.cell-mouse-over {
  fill: #5caf7a;
}



.row-background-active {
  fill: #ebebeb;
  opacity: 0.5;
}


.column-active > .matrix-column-background {
  fill: #ebebeb;
  opacity: 0.5;
}


.row-active > a > text {
  fill: #5caf7a;
  font-size: 14px;
  stroke-width: 2
}

.column-active > text {
  font-size: 18px
}


.matrix-cell-tooltip-group {
  opacity: 0
}

.matrix-cell-tooltip-background {
  fill: #ffffff;
  fill-opacity: 0.8;
}

.tooltips-active {
  opacity: 1
}


#DiagramInfoHeading {
  font-size: 50px;
  color: #39674b;
  margin-bottom: 15px;
}

#DiagramInfoSubHeading {
  font-size: 25px;
  color: #518c67;
}

#infoDetailsTable {
  text-align: left;
  color: #5caf7a;
}
